body{
background-color:white;
}

#cv-form{
	
}

#cv-template{
	display:none;
}

.myimg {
  width: 200px;     /* Increase from default (likely 100px) */
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #000; /* Optional: border for better visibility */
}

.background{
background-color:#c3c1c0;

}